[Unit]
Description=Backhaul Iran Port 55 (Iran)
After=network.target

[Service]
Type=simple
ExecStart=/root/backhaul-core/backhaul_premium -c /root/backhaul-core/iran55.toml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
